<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>


    <h1>Quittance <%=@quittance_date%></h1>

    <p>Bonjour</p>

    <p>A l'attention de <%=@h.occupants%></p>
    <p>Merci de trouver ci-jointe la quittance pour <%=@quittance_date%></p>

    <p>Cordialement<br/>
    <%=@h.owner%></p>
  </body>
</html>
