<%= wicked_pdf_stylesheet_link_tag "rent_receipts" -%>
<div class="warning">Cette quittance annule tous les reçus qui auraient pu être établis précédemment en cas de paiement partiel du montant du présent terme. Elle est à conserver pendant cinq ans par le locataire (article 2224 du Code civil)</div>
